<h1>Inserir nova Propriedade</h1>
<form action="/properties/add" method="POST">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="title" placeholder="nome da propriedade: ">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea type="text" name="description" placeholder="faça uma breve descrição"></textarea>
    </div>
    <div class="form-control">
        <label for="address">Endereço:</label>
        <textarea type="text" name="address" placeholder="informe o endereço"></textarea>
    </div>
    <input type="submit" value="Enviar">
</form>