<h1>Inserir novo Proprietário</h1>
<form action="/owners/add" method="POST">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="nome: ">
    </div>
    <div class="form-control">
        <label for="phone">Telefone:</label>
        <textarea type="text" name="phone" placeholder="Telefone"></textarea>
    </div>
    <div class="form-control">
        <label for="address">Endereço:</label>
        <textarea type="text" name="address" placeholder="informe o endereço"></textarea>
    </div>
    <div class="form-control">
        <label for="email">Email:</label>
        <textarea type="email" name="email" placeholder="informe o email"></textarea>
    </div>
    <input type="submit" value="Enviar">
</form>